@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="text-center mt-5">
        <h1>Welocome</h1>

        <div class="mt-4">
            <a class="btn btn-primary btn-lg" asp-controller="Expenses" asp-action="Index">
                Go to Expenses
            </a>

            <a class="btn btn-success btn-lg" asp-controller="Categories" asp-action="Index">
                Go to Categories
            </a>
        </div>
    </div>
</div>
