@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">

	<div class="text-center mt-5">
		<h1>Welocome</h1>

		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<canvas id="expenseChart"></canvas>

		<script>
			var months = @Html.Raw(Json.Serialize(ViewBag.Months));
			var totals = @Html.Raw(Json.Serialize(ViewBag.Totals));
			var avg = @ViewBag.Average;

			// create an array filled with the average value
			var avgLine = months.map(() => avg);

			var ctx = document.getElementById('expenseChart').getContext('2d');

			new Chart(ctx, {
				type: 'bar',
				data: {
					labels: months,
					datasets: [
					{
						label: 'Monthly Expenses',
						data: totals,
						type: 'bar'
					},
					{
						label: 'Average Monthly Expense',
						data: avgLine,
						type: 'line',
						borderWidth: 3,
						fill: false
					}]
				}
			});
		</script>

		<div class="mt-4">
			<a class="btn btn-primary btn-lg" asp-controller="Expenses" asp-action="Index">
				Go to Expenses
			</a>

			<a class="btn btn-success btn-lg" asp-controller="Categories" asp-action="Index">
				Go to Categories
			</a>
		</div>
	</div>
</div>
